/*
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "normalize";

/* --- Inbox --- */

#message-box {
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
}
